		<div class="section">
			<div class="inner">
				<div class="projects-btns__item">
					<a class="ui-bigbtn ui-bigbtn--orange" href="page-contacts.html">
						<span class="ui-bigbtn__icon">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bb-arr"></use></svg>
						</span>
						<span class="ui-bigbtn__text">
							Оставить заявку<br />на&nbsp;проектирование
						</span>
					</a>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="inner">
				<div class="ui-copyright">
					© АКВАСМАРТ. 2021.  Все права защищены.
				</div>
			</div>
		</footer>