		<header class="header">
			<div class="header__bg"></div>
			<div class="inner">
				<div class="header__row">
					<div class="header__left">
						<a class="logo" href="index.html">
							<div class="logo__img logo__img--white">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-white"></use></svg>
							</div>
							<div class="logo__img logo__img--dark">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-dark"></use></svg>
							</div>
						</a>
					</div>
					<div class="header__right">
						<nav class="menu">
							<ul class="menu__list">
								<li class="menu__item">
									<div class="menu__link menu__link--dd">
										Услуги
									</div>
									<ul class="menu__sublist">
										<li class="menu__subitem">
											<a class="menu__sublink" href="page-service-water.html">
												Водоснабжение
											</a>
										</li>
										<li class="menu__subitem">
											<a class="menu__sublink" href="page-service-heating.html">
												Отопление
											</a>
										</li>
										<li class="menu__subitem">
											<a class="menu__sublink" href="page-service-auto.html">
												Автополив
											</a>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a class="menu__link current" href="page-about.html">
										О компании
									</a>
								</li>
								<li class="menu__item">
									<a class="menu__link" href="page-projects.html">
										Проекты
									</a>
								</li>
								<li class="menu__item">
									<a class="menu__link" href="page-contacts.html">
										Контакты
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="header__toggle">
						<div class="menu-toggle">
							<div class="menu-toggle__line"></div>
							<div class="menu-toggle__line"></div>
							<div class="menu-toggle__line"></div>
						</div>
					</div>
				</div>
			</div>
		</header>