			<section class="section price" id="service-price">
				<div class="price__bg">
					<picture>
						<source srcset="@@webRoot/images/price-@@service.webp" type="image/webp">
						<source srcset="@@webRoot/images/price-@@service.jpg" type="image/jpeg">
						<img src="@@webRoot/images/price-@@service.jpg" alt="" />
					</picture>
				</div>
				<header class="head">
					<h2 class="head__mtitle" style="--mColor:#fff;">
						Стоимость
					</h2>
				</header>
				<div class="inner">
					<div class="price__text ui-text">
						<p>
							Чтобы обсудить стоимость услуг и&nbsp;детали сотрудничества оставьте заявку или&nbsp;позвоните нам:
						</p>
						<p>
							<a href="tel:+79870390127">+7 987 039 0127</a>
						</p>
					</div>
					<div class="price__btn">
						<button class="ui-btn ui-btn--h1 ui-btn--f1 ui-btn--orange" type="button">
							<span class="ui-btn__inner">
								<span class="ui-btn__text">
									Прайс-лист
								</span>
								<span class="ui-btn__icon ui-btn__icon--arrow-rt ui-btn__icon--r">
									<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-rt"></use></svg>
								</span>
							</span>
						</button>
					</div>
				</div>
@@include('@@webRoot/_footer3.html')
			</section>